$laptop: 1023px;
$mobile: 767px;
$width-min: 320px;

/*Шрифты*/
$font-main: "GTEestiProText", "Arial", sans-serif;

/*Цвета*/
$white: #ffffff;
$blue: #4091d1;
$orange: #ed7932;

$font-black: #272727;
$font-grey: #acacac;

$border-grey: #d7d7d7;

$bg-dark: #252525;
$bg-light: #f8f8f8;
