$laptop: 1023px;
$mobile: 767px;
$width-min: 320px;

/*Шрифты*/
$font-main: "GTEestiProText", "Arial", sans-serif;

/*Цвета*/
$white: #ffffff;
$blue: #4091d1;

$font-black: #272727;
$font-grey: #acacac;

$background-dark: #252525;
$background-light: #f8f8f8;
