section.advantages
  .container
    h2.advantages__title Продавай вместе с Propartner
    ul.advantages__list
      li.advantages__item
        .advantages__icon.advantages__icon--cart
          +svg("cart", 67, 67)
        p.advantages__text
          span.advantages__count 11 190 000
          span товаров
      li.advantages__item
        .advantages__icon.advantages__icon--portfolio
          +svg("portfolio", 60, 62)
        p.advantages__text
          span.advantages__count 56 000
          span компаний
      li.advantages__item
        .advantages__icon.advantages__icon--cup
          +svg("cup", 67, 67)
        p.advantages__text
          span.advantages__count 8
          span лет на рынке
      li.advantages__item
        .advantages__icon.advantages__icon--people
          +svg("people", 83, 48)
        p.advantages__text
          span.advantages__count 121 000
          span посетителей ежедневно
