section.promo
  .promo__description
    h1.promo__title Каталог товаров и услуг в России
    p.promo__text После бесплатной регистрации вы получите возможность
    ul.promo__list
      li.promo__item Создать страницу о Вашей компании
      li.promo__item Опубликовать товары в каталоге
      li.promo__item Находить новых клиентов

  include ../registration/registration
