.promo {
  position: relative;
  padding: 86px 0 50px;

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 55%;

    @media(max-width: $desktop) {
      max-width: 540px;
    }

    @media(max-width: $tablet) {
      max-width: 400px;
    }
  }

  &__title {
    width: 100%;
    margin: 0 0 32px;
    padding: 0;

    @include font-main(54px, 1.2, 700, inherit);
    letter-spacing: 0.1em;
    text-transform: uppercase;

    @media(max-width: $desktop) {
      font-size: 45px;
    }

    @media(max-width: $tablet) {
      font-size: 35px;
    }
  }

  &__text {
    width: 100%;
    margin: 0 0 35px;
    padding: 0;

    @include font-main(28px, 1.2, 700, inherit);
    letter-spacing: 0.1em;
    text-transform: uppercase;

    @media(max-width: $desktop) {
      font-size: 26px;
    }

    @media(max-width: $laptop) {
      font-size: 24px;
    }

    @media(max-width: $tablet) {
      font-size: 18px;
    }
  }

  &__list {
    margin: 0 0 45px;
    padding: 0;

    list-style: none;
  }

  &__item {
    position: relative;

    margin: 0 0 20px;
    padding: 0 0 0 45px;

    @include font-main(18px, 20px, 400, $white);
    letter-spacing: 0.01em;

    @media(max-width: $tablet) {
      padding-left: 30px;

      font-size: 16px;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;

      width: 16px;
      height: 16px;

      background-color: $orange;
      border-radius: 4px;

      content: "";

      @media(max-width: $tablet) {
        top: 5px;

        width: 10px;
        height: 10px;

        border-radius: 50%;
      }
    }
  }
}
