.menu-link {
  position: relative;

  display: inline-block;
  vertical-align: top;

  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  padding-bottom: 3px;
  margin-bottom: 4px;

  color: $white;
  line-height: 1;
  text-decoration: none;

  &::before {
    position: absolute;
    top: 100%;

    display: block;

    height: 2px;
    width: 0%;

    background-color: $white;

    transition: width 0.3s ease-in-out;

    content: "";
  }

  svg {
    margin-right: 10px;

    fill: $white;
  }

  &:hover,
  &:focus {
    &::before {
      width: 100%;
    }
  }

  &:active {
    color: $orange;

    &::before {
      background-color: $orange;
    }

    svg {
      fill: $orange;
    }
  }
}
