.header {
  width: 100%;

  color: $white;

  background-color: $blue;
  background-image: url("../img/header-bg-left.png"), url("../img/header-bg-right.png");
  background-repeat: no-repeat;
  background-position: top left, top right;
  background-size: auto;

  &__nav {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    padding: 56px 0 49px;
  }

  &__logo {
    width: 308px;
    height: 31px;
    margin-right: 52px;
    margin-top: 2px;

    svg {
      display: block;

      width: 100%;
      height: 100%;

      fill: $white;
    }
  }

  &__location {
    margin-right: 90px;

    @include font-main(16px, 1, 400, $white);
  }

  &__menu {
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__menu-item {
    margin-right: 22px;

    &::after {
      content: "|";
      margin-left: 22px;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }

  &__menu-link {
    @include font-main(16px, 1, 400, $white);
  }
}
