.footer {
  width: 100%;
  padding-bottom: 28px;

  color: $white;

  background-color: $bg-dark;

  @media (max-width: $mobile) {
    padding-bottom: 0;
  }

  &__menu-wrapper {
    position: relative;

    width: 100%;

    overflow-x: hidden;
  }

  &__menu {
    position: relative;
    left: -30px;

    width: calc(100% + 35px);

    margin: 0;
    padding: 63px 0 60px;

    list-style: none;

    @media (max-width: $mobile) {
      padding-top: 42px;
      padding-left: 8px;
      padding-bottom: 37px;
    }
  }

  &__menu-item {
    position: relative;

    display: inline-block;

    padding-left: 30px;
    margin-bottom: 10px;

    @include font-main(14px, 1, 700, $white);
    letter-spacing: 0.005em;

    &::before {
      position: absolute;
      left: 11px;

      content: "|";
    }

    @media (max-width: $mobile) {
      margin-bottom: -2px;
    }
  }

  &__menu-link {
    color: $white;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &__logo {
    display: block;

    width: 206px;
    height: 21px;
    margin-bottom: 27px;

    @media (max-width: $mobile) {
      margin-bottom: 24px;
    }

    svg {
      display: block;

      width: 100%;
      height: 100%;

      fill: $blue;
    }
  }

  &__copyright {
    max-width: 685px;
    width: 100%;
    margin: 0 auto 30px;

    @media (max-width: $mobile) {
      padding: 0 15px;
    }

    p {
      text-align: center;

      width: 100%;
      margin: 0;
      padding: 0;

      @include font-main(12px, 1.2, 400, $white);

      a {
        color: $white;
        text-decoration: none;

        &:hover,
        &:focus {
          text-decoration: underline;
        }

        &:active {
          color: $orange;
        }
      }
    }
  }
}
