extends pug/layout

block variables
  -let title = "Главная";
  -let headerMenuItems = ["Товары", "Компания"];
  -let footerMenuItems = ["Пользовательское соглашение", "Продвижение", "О компании", "Политика конфиденциальности", "Условия использования", "Обратная связь", "Контакты", "Доставка и оплата", "Корзина"];

block content
  include components/advantages/advantages
