.registration {
  position: absolute;
  top: 0;
  left: calc(50% + 96px);

  max-width: 475px;
  width: 100%;
  padding: 65px 50px 0;

  color: $font-black;

  background-color: $white;
  border-radius: 6px;
  box-shadow: 0px 0px 50px 0px rgba(31, 40, 108, 0.1);

  &__title {
    text-align: center;

    width: 100%;
    margin: 0 0 35px;
    padding: 0;

    @include font-main(36px, 1.2, 700, $font-black);
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &__check {
    margin: 30px 0 30px;
  }

  &__btn {
    margin-bottom: 38px;
  }
}
