section.registration
  h2.registration__title Зарегистрироваться
  form(action="#" method="post")
    .input-item
      label(for="email") e-mail<span>*</span>
      input(type="email" id="email" required)
    .input-item
      label(for="password") Пароль<span>*</span>
      input(type="password" id="password" required)
    .input-item
      label(for="phone") Телефон
      input(type="tel" id="phone")
    .registration__check.input-check
      input(type="checkbox" id="consent" name="consent" tabindex="-1" required)
      label(for="consent")
        span Я согласен с <a href="#">Соглашением</a>
        span и <a href="#">политикой конфиденциальности</a>
    button.registration__btn.button(type="submit") Зарегистрироваться
